.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.spl
*.bbl
*.blg
*.fff
*.lof
*.lot
*.synctex.gz
*.ttt
_bookdown_files/
_targets/
rosm.cache
*.DBF
*.dbf
site_libs/

data/traveltimecosts*
/.quarto/
/_book/
*_cache/
*_files/
*-tikzDictionary
data/logsums*.rds
A-utility-based-approach-to-modeling-systemic-resilience-of-highway-networks-with-an-application-in-Utah.tex
diff.tex
